/* -----------EXTRA SMALL SCREEN---------  */

@media (width < 360px) {
    .card__header {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .card__form {
        padding-top: 1em;
        padding-bottom: 3.5em;
        justify-content: center;
    }

    .card__search-input {
        max-width: 100%;
    }

    .card__search-input,
    .card__search-icon {
        margin-bottom: 1em;
    }

    .card__search-btn {
        bottom: 10%;
        right: 50%;
        transform: translateX(50%);
        padding: 1em;
    }

    .hero__social-container {
        flex-direction: column;
    }
}


/* ------------MEDIUM SCREEN SIZE -----------------  */

@media (width > 600px) {
    .hero {
        padding: 2em;
        display: flex;
        gap: 1rem;

    }

    .hero__primary {
        align-items: flex-start;
    }

    .hero__profile-container {
        display: flex;
        flex-direction: column;
    }

    .hero__img {
        max-width: 100px;
    }

    .hero__social-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }


    .hero__footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 1rem;
    }

    .modal {
        gap: 1rem;
    }

    .modal__title {
        padding-bottom: 1em;
    }

}





/* -----------LARGE AND EXTRA LARGE SCREENS ------------  */


@media (width > 900px) {

    .card {
        max-width: 700px;
    }

    .hero {
        padding: 2em;
        display: flex;
        gap: 2.5rem;
    }

    .hero__primary {
        flex: 2;
        align-items: flex-start;
    }

    .hero__img {
        max-width: 150px;
    }

    .hero__social-container {
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        max-width: 100%;
    }


    .hero__footer {
        column-gap: 2rem;
        max-width: 100%;
    }

    .modal {
        gap: 1rem;
    }

    .modal__title {
        padding-bottom: 1em;
    }

}